# Local model and provider configuration
LLM_MODEL='myfancy/model'
LLM_EMBEDDING_MODEL="text-embedding-model"
LLM_PROVIDER='WHATEVER_YOU_WANT'
LLM_URL='http://localhost:1234/v1'   # This is the correct value for LM Studio
LLM_API_KEY='AY-P-EYE'

# Only needed to pull the OpenCLIP embedding model
HF_TOKEN='MY_HUGGINGFACE_TOKEN'

# Local storage configuration
PHOTOS_BASE_PATH='./location/of/photos/'
PHOTOS_URL_BASE='photos/'
DB_BASE_PATH='./location/of/db/'

# Maximum width and height of thumbnails
THUMBNAIL_WIDTH=200
THUMBNAIL_HEIGHT=200