LLM_MODEL='myfancy/model'
LLM_EMBEDDING_MODEL="text-embedding-model"
LLM_PROVIDER='WHATEVER_YOU_WANT'
LLM_URL='http://localhost:1234/v1'
LLM_API_KEY='AY-P-EYE'

HF_TOKEN='MY_HUGGINGFACE_TOKEN'

PHOTOS_BASE_PATH='../location/of/photos/'
DB_BASE_PATH='./location/of/db/'

THUMBNAIL_WIDTH=200
THUMBNAIL_HEIGHT=200