.root {
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.slide {
    background-color: var(--mantine-color-blue-light);
    border: solid var(--mantine-color-blue-6);
    border-radius: var(--mantine-radius-md);
    padding: 5px;
}

.control {
    &[data-inactive] {
        opacity: 0;
        cursor: default;
    }
}