.container {
    padding-top: 50px
}
.slides {
    background-color: var(--mantine-color-blue-light);
    border: solid var(--mantine-color-blue-6);
    border-radius: var(--mantine-radius-md);
    padding: 5px;
}